<div ng-controller="PesquisaProdutoController as vm">
    <form name="formProduto" novalidate>
        <div class="panel-primary">
            <div class="panel-heading">
                Pesquisa de Produto
            </div>
            <div class="panel-body">

                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error':formProduto.nome.$invalid && formProduto.nome.$touched}">
                        <label>Nome</label>
                        <input type="text" class="form-control" ng-model="vm.entidade.nome" ng-maxlength="10"
                               ng-minlength="2" name="nome" ng-required="true" id="itNome" autofocus>
                        <div class="help-block" ng-messages="formProduto.nome.$error" ng-if="formProduto.nome.$invalid && formProduto.nome.$touched">
                            <div ng-messages-include="app/templates/ng-messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="vm.pesquisar()">
                    <i class="fa fa-save"></i>
                    Pesquisar</button>
                <button class="btn btn-warning" ng-click="vm.limpar()">
                    <i class="fa fa-eraser"></i>
                    Limpar</button>
                <button class="btn btn-primary" ng-click="vm.cadastro()">
                    Cadastro</button>
            </div>

            <div ui-grid="vm.gridOptions"
                 ui-grid-selection></div>
        </div>
    </form>
</div> 