<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Curso</title>

    <!-- -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <!-- -->

    <!-- imports externos -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_pt-br.js"></script>
    <!-- fim imports externos -->

    <script src="app/config/pd-app.module.js"></script>
    <script src="controller/index5.controller.js"></script>
    <script src="app/services/pd-alert.service.js"></script>

    <script src="app/filter/pd-maiusculo.filter.js"></script>

</head>
<body ng-app="pdCurso" class="container">

<div ng-controller="IndexController">

    <form name="formPessoa" novalidate>
        <div class="panel-primary">
            <div class="panel-heading">
                Cadastro de Pessoa
            </div>
            <div class="panel-body">

                <div class="col-md-3">
                    <md-input-container>
                        <label>Nome</label>
                        <input ng-model="entidade.nome">
                    </md-input-container>
                </div>

                <div class="col-md-3">
                    <md-input-container>
                        <label>Sobrenome</label>
                        <input ng-model="entidade.sobrenome">
                    </md-input-container>
                </div>

                <div class="col-md-3">
                    <md-select ng-model="entidade.sexo" placeholder="Sexo" class="md-no-underline">
                        <md-option value="M">Masculino</md-option>
                        <md-option value="F">Feminino</md-option>
                    </md-select>
                </div>

                <div class="col-md-3">
                    <md-datepicker pattern="dd/MM/yyyy" ng-model="entidade.nascimento" md-placeholder="Data de Nascimento"></md-datepicker>
                </div>

                <div class="col-md-3">
                    <md-input-container>
                        <label>Cor</label>
                        <input ng-model="entidade.cor">
                    </md-input-container>
                </div>
            </div>
            <div class="panel-footer">
                <md-button class="md-raised md-primary" ng-click="salvar()">Salvar</md-button>
                <md-button class="md-raised md-warn" ng-click="limpar()">Limpar</md-button>
            </div>

            <div ui-grid="gridOptions"
                ui-grid-selection></div>
        </div>
    </form>
</div>
</body>
</html>